/*Font packages*/
@font-face {
    font-family: robotoRegular;
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: robotoThin;
    src: url(fonts/Roboto-Thin.ttf) format('truetype');
    font-weight: thin;

}

@font-face {
    font-family: robotoBold;
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bolder;
}


/*CSS*/

body {
    margin: 0 auto;
    background-color: #001B2E;
    background-size: 100%;
    padding: 2% 10%;

}

h2 {
    font: 26px "robotoBold", sans-serif;
    color: #C4CBCA;
}

p {
    font: 18px "robotoThin", sans-serif;
    color: #C4CBCA;
    margin: 0;
    padding-bottom: 10px;

}

#startBtn {
    align-self: flex-start;
}

#rockPaperScissors {
    display: flex;
    flex-direction: column;
    background-color: #00798C;
    padding: 20px;
    border-radius: 25px;
    margin: 10px 0px;
    max-width: 100%;
    align-self: center;
    height: auto;
}

#calculatorDiv {
    display: flex;
    flex-direction: column;
    background-color: #00798C;
    padding: 20px;
    border-radius: 25px;
    margin: 10px 0px;
    max-width: fit-content;
    align-self: center;
    height: auto;
}