/*Font packages*/
@font-face {
    font-family: robotoRegular;
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: robotoThin;
    src: url(fonts/Roboto-Thin.ttf) format('truetype');
    font-weight: thin;

}

@font-face {
    font-family: robotoBold;
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bolder;
}


/*CSS*/

body {
    margin: 0;
    background-image: url("../img/rockPaperScissors/backgroundImage.jpg");
    background-color: #3a3a3a;
    background-size: 100%;
    padding: 2% 10% 2% 10%;
}

.header {
    display: flex;
    position: relative;
    margin-bottom: 2%;
}

#pageTitle {
    font: 24px "robotoBold", sans-serif;
    color: rgb(147, 226, 102);

    text-shadow:
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

#rockPaperScissors {
    background-color: rgba(0, 11, 37, 0.9);
    padding: 2% 10% 2% 10%;
    border-radius: 10px;
}

#rpsTitle {
    font: 20px "robotoRegular", sans-serif;
    color: rgb(147, 226, 102);

    text-shadow:
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;

}

p {
    font: 20px "robotoThin", sans-serif;
    color: rgb(187, 255, 148);

    text-shadow:
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}